<div class="side-bar">
    <div class="head-search">
        <input class="head-search-input" id="head-search-input" type="text" placeholder="Search twitter">
        <i class="fa icon-search"></i>
        <div class="serach-sugeest bg-light" id="head-search-result" style="display: none;">
           
        </div>
    </div>

</div>