@model Twitter.ViewModels.ApplicationUserEditViewModel
@{
    Layout = "_AccountLayout";
}

<form asp-action="EditProfile" method="post" enctype="multipart/form-data">
    <div class="row my-5">
        <div class="col-md-4"></div>

        <div class="col-md-4 bg-light p-2 pt-4">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-4">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span class="text-danger"  asp-validation-for="FirstName"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span class="text-danger"  asp-validation-for="LastName"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <!--

            -->
            <div class="form-outline mb-4">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly="true"/>
                <span class="text-danger"  asp-validation-for="Email"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="Bio" class="form-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span class="text-danger"  asp-validation-for="Bio"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="Avatar" class="form-label"></label>
                <input asp-for="Avatar" class="form-control" />
                <span class="text-danger"  asp-validation-for="Avatar"></span>
            </div>


            <div class="form-outline mb-4">
                <label asp-for="Header" class="form-label"></label>
                <input asp-for="Header" class="form-control" />
                <span class="text-danger"  asp-validation-for="Header"></span>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>

        </div>

        <div class="col-md-4"></div>
    </div>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}